@page
@model Avangardum.AsposeTestTask.Pages.Feed
@{
    ViewData["Title"] = "Feed";
}

@foreach (var postViewModel in Model.PostViewModels)
{
    <div class="post">
        <b>@postViewModel.AuthorName</b><br/>
        <h4>@postViewModel.Title</h4>
        <p style="white-space: pre-wrap">@postViewModel.Text</p>
        @if (postViewModel.CanEdit)
        {
            <a class="btn btn-primary" asp-page="@nameof(EditPost)" asp-route-id="@postViewModel.Id">Edit</a>
        }
    </div>
}
